@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Calculate Loan Details</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <li class="buy-configure-database-small" id="meter4">
            <h3>Loan Amount</h3>
            <span class="slider-tooltip">
                <img src="/css/images/calc-tooltip.jpg" alt="tooltip img">
                <p>Choose the loan amount you want to borrow.
                    <br>
                    <a href="~/LearnMore/">Learn More</a>
                </p>
            </span>
            <span class="slider-pricing-group">
                <span class="slider-div ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-step="1" data-min="0" data-max="155" data-type="GB" data-price="0" data-tier="-3" data-pricesub="0" data-excludefrommc="false" data-tiersub="-3" data-currentprice="0" data-currentpricesub="0" data-steplocation="0">
                    <div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 0%;"></div>
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
                </span>
                <span class="slider-amount">
                    <span class="current-slider-amount">0</span>
                    <span class="slider-type"><img src="~/Content/rupee.png" alt="Rs." /></span>
                </span>
                <span class="slider-total">0.00</span>
            </span>
        </li>


        <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
        <script src="/script.js"></script>

    </body>
</html>
